* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.c4191 {
    bottom: -0.5rem;
    right: -1.6rem;
}

.c4200 {
    top: -1rem;
    left: -2rem;
}

.c6636 {
    font-weight: bolder;
}

.c6687 {
    font-weight: bolder;
}

.c6738 {
    font-weight: bolder;
}

.c7453 {
    font-weight: 700;
}

.c7649 {
    font-weight: 700;
}

.c7832 {
    font-weight: 700;
}